colorama
discreteMarkovChain
imageio
ipykernel
ipywidgets
matplotlib
ml_collections
more-itertools
networkx
numpy
pandas
plotly
PyYAML
scipy
seaborn
setuptools
sympy
torch
torchaudio
torchvision
tqdm
